#start-button, .navigation-buttons button {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#start-button:hover, .navigation-buttons button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.navigation-buttons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.navigation-buttons.active {
    opacity: 1;
    pointer-events: auto;
}
